
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
	font-family: "Oswald", serif;
	background: #e7ccb3;
	-webkit-tap-highlight-color: transparent;
}

.wrapper {
	display: grid;
	grid-template: 1fr / 1fr;
	min-height: 100%;
	overflow: hidden;
}

.container {
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1170px) 1fr;
	padding: 0 15px;
}

.calculator {
	margin: 100px 0 100px 0;
	
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template: auto 1fr / minmax(auto, 400px);
		row-gap: 50px;
		background: #F4F4F9;
		max-width: 400px;
		margin: 0 auto;
		border-radius: 10px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
		padding: 0 20px 50px 20px;
	}

	&__top {
		display: grid;
	}

	&__top-body {
		padding: 30px 0 0 0;
	}

	&__top-result {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 50px;
		border: 2px solid #0077B6;
		border-radius: 10px;
	}

	&__top-nums {
		padding: 0 15px 0 0;
		color: #023047;
		font-size: 2rem;
	}

	&__bottom {
		display: grid;
	}

	&__bottom-body {
		display: grid;
		grid-template: 1fr / 1fr auto;
		column-gap: 10px;
	}

	&__bottom-nums {
		display: grid;
		grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
			row-gap: 30px;
	}

	&__bottom-num {
		border: 1px solid #00000017;
		width: 50px;
			height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		background: #FFB703;
		border-radius: 50%;
		color: #000;
		position: relative;
		top: 0;
		box-shadow: 0 6px 1px #b98604;
		transition: all 0.2s linear 0s;
		&:hover {
			top: 3px;
			box-shadow: 0 3px 1px #b98604;
		}
	}
	&__bottom-math {
		display: grid;
		gap: 10px;
	}

	&__bottom-elem {
		border: 1px solid #00000017;
		width: 50px;
		height: 50px;
		display: flex;
		font-size: 2rem;
		align-items: center;
		justify-content: center;
		background: #FFB703;
		border-radius: 50%;
		position: relative;
		top: 0;
		color: #000;
		box-shadow: 0 6px 1px #b98604;
		transition: all 0.2s linear 0s;
		&:hover {
			top: 3px;
			box-shadow: 0 3px 1px #b98604;
		}
	}
}
